name: Deploy

on:
  workflow_run:
    workflows: [ "Test" ]
    branches: [ "main" ]
    types:
      - completed
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: [self-hosted, linux]
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install SAM CLI
        uses: aws-actions/setup-sam@v2

      - name: Verify AWS identity
        run: aws sts get-caller-identity

      - name: Run SAM build
        run: sam build --template-file template.yaml

      - name: Run SAM deploy
        run: |
          sam deploy \
            --config-file samconfig.toml \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset